<!-- Контейнер карусели -->
<section class="container">
  <div class="slider">
    <div class="swiper" style="max-width: 1200px; height: 600px; margin: auto;">

      <!-- ОБЯЗАТЕЛЬНО добавить swiper-wrapper -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= image_tag 'carousel_photo_1.png', style: "width: 100%; height: 100%; object-fit: cover;", alt: 'carousel photo 1.png' %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'carousel_photo_2.png', style: "width: 100%; height: 100%; object-fit: cover;", alt: 'carousel photo 2.png' %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'carousel_photo_3.png', style: "width: 100%; height: 100%; object-fit: cover;", alt: 'carousel photo 3.png' %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'carousel_photo_4.png', style: "width: 100%; height: 100%; object-fit: cover;", alt: 'carousel photo 4.png' %>
        </div>
      </div>

      <!-- Стрелки внутри .swiper -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>
  </div>
</section>

<section class="container">
  <h2 class="main_about__title">O nas</h2>
  <div class="main_about__all">
    <p class="main_about__us-1"> Witamy w <b>Clouds Stomatologia</b> – miejscu, gdzie zdrowie Twojego uśmiechu jest naszym priorytetem!
      Jesteśmy nowoczesnym gabinetem stomatologicznym, który łączy doświadczenie, pasję i najnowsze technologie,
      aby zapewnić naszym pacjentom opiekę na najwyższym poziomie. Oferujemy kompleksowe usługi stomatologiczne – od profilaktyki,
      przez leczenie zachowawcze, endodoncję, aż po stomatologię estetyczną i protetykę.
    </p>
    <p class="main_about__us-2">
      Każdego pacjenta traktujemy indywidualnie – słuchamy, doradzamy i wspólnie wybieramy najlepsze rozwiązania.
      Dbamy o komfort i przyjazną atmosferę, dzięki czemu nawet najbardziej wymagające wizyty przebiegają bez stresu.
    </p>
    <p class="main_about__us-3">
      Zaufaj nam i zadbaj o swój uśmiech z Clouds Stomatologia.
    </p>
  </div>
</section>

<section class="container">
 <h2 class="prices_title">Nasze ceny i usługi<h2>
 <div class="prices_all">
  <nav class="main_prices__menu">
    <ul class="main_prices__list">
      <p class="main_prices__title">Profilaktyka stomatologiczna</p>
      <li class="main_prices__item">
        skaling (usuwanie kamienia nazębnego) – 150 zł
      </li>
      <li class="main_prices__item">
        piaskowanie (usuwanie osadów) – 150 zł
      </li>
      <li class="main_prices__item">
        fluoryzacja (zabezpieczenie zębów przed próchnicą) – 150 zł
      </li>
      <li class="main_prices__item">
        lakowanie bruzd (1 ząb) – 200 zł
      </li>
    </ul>
    <ul class="main_prices__list">
      <p class="main_prices__title">Stomatologia zachowawcza</p>
      <li class="main_prices__item">
        wypełnienie kompozytem światłoutwardzalnym (zależnie od rozmiaru ubytku) – 200–400 zł
      </li>
      <li class="main_prices__item">
        odbudowa zęba (kompozyt + włókno szklane) – 250–1000 zł
      </li>
      <li class="main_prices__item">
        opatrunek leczniczy – 150 zł
      </li>
    </ul>
    <ul class="main_prices__list">
      <p class="main_prices__title">Chirurgia stomatologiczna</p>
      <li class="main_prices__item">
        konsultacja chirurgiczna – 200 zł
      </li>
      <li class="main_prices__item">
        punkcja i dezynfekcja jamy ropnia – 150 zł
      </li>
      <li class="main_prices__item">
        nacięcie i drenaż ropnia – 200 zł
      </li>
      <li class="main_prices__item">
        ekstrakcja (usunięcie) zęba stałego – 300–600 zł
      </li>
      <li class="main_prices__item">
        ekstrakcja zęba mlecznego – 100–200 zł
      </li>
      <li class="main_prices__item">
        ekstrakcja ósemki zatrzymanej – 500–800 zł
      </li>
      <li class="main_prices__item">
        wysunięcie zęba – 300–500 zł
      </li>
      <li class="main_prices__item">
        dłutowanie zęba – 350–800 zł
      </li>
      <li class="main_prices__item">
        wycięcie kaptura dziąsłowego – 300 zł
      </li>
    </ul>
    <ul class="main_prices__list">
      <p class="main_prices__title">Endodoncja (leczenie kanałowe)</p>
      <li class="main_prices__item">
        leczenie endodontyczne zęba 1–4 kanałowego – 400–1600 zł
      </li>
      <li class="main_prices__item">
        leczenie reendodontyczne (powtórne) zęba 1–4 kanałowego – 600–1800 zł
      </li>
      <li class="main_prices__item">
        wypełnienie tymczasowe – 100 zł
      </li>
    </ul>
    <ul class="main_prices__list">
      <p class="main_prices__title">Protetyka</p>
      <li class="main_prices__item">
        konsultacja protetyczna – 200 zł
      </li>
      <li class="main_prices__item">
        korona porcelanowa – 2000–2500 zł
      </li>
      <li class="main_prices__item">
        most porcelanowy na podbudowie – 5000–6000 zł
      </li>
       <li class="main_prices__item">
        proteza całkowita – 3000 zł
      </li>
    </ul>
    <ul class="main_prices__list">
      <p class="main_prices__title">Implantologia</p>
      <li class="main_prices__item">
        konsultacja implantologiczna z planem – 200 zł
      </li>
      <li class="main_prices__item">
        wszczepienie implantu – 2800 zł
      </li>
      <li class="main_prices__item">
        augmentacja kości – 2000 zł
      </li>
       <li class="main_prices__item">
        odsłonięcie implantu i założenie śruby gojącej – 300 zł
      </li>
      <li class="main_prices__item">
        korona porcelanowa na implancie – 2500 zł
      </li>
      <li class="main_prices__item">
        most protetyczny na implantach – 7000–8000 zł
      </li>
    </ul>
  </nav>
  <nav class="main_prices__promotion-menu">
    <p class="main_promotion__title">Nasze promocje</p>
    <ul class="main_prices__promotion-list">
      <li class="main_prices__item">
        przegląd stomatologiczny i konsultacja za darmo
      </li>
      <li class="main_prices__item">
        pakiet: skaling + piaskowanie + fluoryzacja + polerowanie – 300 zł
      </li>
    </ul>
  </nav> 
 </div>
</section>

<section class="container">
 <h2 class="main_contacts__title">Skontaktuj się z nami<h2>
  <div class="main_contacts__all">
    <nav class="main_contacts__menu">
      <ul class="main_contacts__list">
        <i class="fa-solid fa-square-phone fa-2xl" style="color: #74C0FC;"></i>
        <p class="main_contacts__title">Numer telefonu</p>
        <li class="main_contacts__item">
          +48 517 070222
        </li>
        <i class="fa-solid fa-location-dot fa-2xl" style="color: #74C0FC;"></i>
        <p class="main_contacts__title">Adres</p>
        <li class="main_contacts__item">
          Warszawa, ul. Dionizosa 6
        </li>
       <i class="fa-solid fa-clock fa-2xl" style="color: #74C0FC;"></i>
       <p class="main_contacts__title">Godziny otwarcia</p>
        <li class="main_contacts__item">
          9:00-21:00
        </li>
      </ul>
    </nav>
  </div>
</section>

<div id="map" style="height: 400px; width: 35%;"></div> <!-- сделать все в процентах, разобраться с безопастностью-->

<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACGAeG29zfUrH1otoaK_DlGkzhPiTm1Cc&callback=initMap">
</script>

<script>
  function initMap() {
    const location = { lat: 52.3385503, lng: 20.9491093 };

    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: location,
    });

    const marker = new google.maps.Marker({
      position: location,
      map: map,
    });
  }
</script>

<!-- Скрипты Swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper('.swiper', {
      loop: true,
      autoplay: {
        delay: 3000,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>
